@import "tailwindcss";

@theme {
  --font-heading: 'Poppins', system-ui, sans-serif;
  --font-body: 'Inter', system-ui, sans-serif;

  --color-jam-purple: #732C7B;
  --color-jam-hover: #8A3A93;
  --color-jam-dark: #58205E;
  
  --color-dough: #F9F6F0;
  --color-crust: #C97A34;
  --color-crust-light: #E08B40;
  
  --color-text-main: #2A1D2D;
  --color-text-subtle: #6B636E;
  --color-border-subtle: #D1D5DB;

  --color-spotify: #1DB954;
  --color-spotify-hover: #1ed760;
}

@layer base {
  body {
    background-color: var(--color-dough);
    color: var(--color-text-main);
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }
}